In [1]:
%config Completer.use_jedi = False

In [2]:
from census.getCensus import getCensus

In [3]:
c = getCensus(2019, shouldCacheOnDisk=True, shouldLoadFromExistingCache=True)

In [4]:
groups = c.getGroups()

In [5]:
educGroups = c.searchGroups("education")

In [6]:
c.searchGroups("computer").head()

,code,description
0,B28001,TYPES OF COMPUTERS IN HOUSEHOLD
1,B28003,PRESENCE OF A COMPUTER AND TYPE OF INTERNET SUBSCRIPTION IN HOUSEHOLD
2,B28005,AGE BY PRESENCE OF A COMPUTER AND TYPES OF INTERNET SUBSCRIPTION IN HOUSEHOLD
3,B28006,EDUCATIONAL ATTAINMENT BY PRESENCE OF A COMPUTER AND TYPES OF INTERNET SUBSCRIPTION IN HOUSEHOLD
4,B28007,LABOR FORCE STATUS BY PRESENCE OF A COMPUTER AND TYPES OF INTERNET SUBSCRIPTION IN HOUSEHOLD

In [7]:
# B16010    EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER
# C15003	EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER
# B28010	COMPUTERS IN HOUSEHOLD
# B28003	PRESENCE OF A COMPUTER AND TYPE OF INTERNET SUBSCRIPTION IN
# B28006	EDUCATIONAL ATTAINMENT BY PRESENCE OF A COMPUTER AND TYPES OF INTERNET SUBSCRIPTION IN HOUSEHOLD
# B23025	EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER
# B27011	HEALTH INSURANCE COVERAGE STATUS AND TYPE BY EMPLOYMENT STATUS

In [8]:
from census.variables.models import GroupCode

In [9]:
variables = c.getVariablesByGroup([
    'C15003',
    'B28010',
    'B28003',
    'B28006',
    'B23025',
    'B27011',
])

  0%|          | 0/6 [00:00<?, ?it/s]

In [10]:
filteredVars = variables[variables['name'].str.contains('^estimate!!', case=False)]

In [11]:
varCodes = filteredVars['code'].tolist()

In [12]:
from census.models import GeoDomain

In [13]:
from census.utils.chunk import chunk
import pandas as pd

In [14]:
len(filteredVars)

74

In [15]:
df = filteredVars[filteredVars['groupCode'] == 'C15003']

In [16]:
df

,code,groupCode,groupConcept,name
0,C15003_001E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:
4,C15003_002E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!No schooling completed
8,C15003_003E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!Nursery to 4th grade
12,C15003_004E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!5th and 6th grade
16,C15003_005E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!7th and 8th grade
20,C15003_006E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!9th grade
24,C15003_007E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!10th grade
28,C15003_008E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!11th grade
32,C15003_009E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,"Estimate!!Total:!!12th grade, no diploma"
36,C15003_010E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!Regular high school diploma
40,C15003_011E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!GED or alternative credential
44,C15003_012E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,"Estimate!!Total:!!Some college, less than 1 year"
48,C15003_013E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,"Estimate!!Total:!!Some college, 1 or more years, no degree"
52,C15003_014E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!Associate's degree
56,C15003_015E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!Bachelor's degree
60,C15003_016E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!Master's degree
64,C15003_017E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!Professional school degree
68,C15003_018E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!Doctorate degree

In [17]:
educData = c.getStats(df['code'].tolist(), GeoDomain('congressional district'), [GeoDomain('state')], replaceColumnHeaders=True)

|          | 0/? [00:00<?, ?it/s]

In [18]:
educData.head(n=2)

,NAME,congressional district,state,Estimate!!Total:,Estimate!!Total:!!No schooling completed,Estimate!!Total:!!Nursery to 4th grade,Estimate!!Total:!!5th and 6th grade,Estimate!!Total:!!7th and 8th grade,Estimate!!Total:!!9th grade,Estimate!!Total:!!10th grade,...,"Estimate!!Total:!!12th grade, no diploma",Estimate!!Total:!!Regular high school diploma,Estimate!!Total:!!GED or alternative credential,"Estimate!!Total:!!Some college, less than 1 year","Estimate!!Total:!!Some college, 1 or more years, no degree",Estimate!!Total:!!Associate's degree,Estimate!!Total:!!Bachelor's degree,Estimate!!Total:!!Master's degree,Estimate!!Total:!!Professional school degree,Estimate!!Total:!!Doctorate degree
0,"Congressional District 3 (116th Congress), California",03,06,492041,9757,5077,12445,5491,5655,5461,...,11891,105373,13456,36042,86013,50948,83536,34271,9976,6172
1,"Congressional District 21 (116th Congress), California",21,06,424849,21911,21062,39352,15217,20351,12229,...,15204,98332,13409,23653,59324,24457,32602,8271,3547,889

In [ ]:
educData['pctNoHs'] = educData.C15003_0

In [20]:
c.variables.

dict_keys(['C15003_001E', 'C15003_001EA', 'C15003_001M', 'C15003_001MA', 'C15003_002E', 'C15003_002EA', 'C15003_002M', 'C15003_002MA', 'C15003_003E', 'C15003_003EA', 'C15003_003M', 'C15003_003MA', 'C15003_004E', 'C15003_004EA', 'C15003_004M', 'C15003_004MA', 'C15003_005E', 'C15003_005EA', 'C15003_005M', 'C15003_005MA', 'C15003_006E', 'C15003_006EA', 'C15003_006M', 'C15003_006MA', 'C15003_007E', 'C15003_007EA', 'C15003_007M', 'C15003_007MA', 'C15003_008E', 'C15003_008EA', 'C15003_008M', 'C15003_008MA', 'C15003_009E', 'C15003_009EA', 'C15003_009M', 'C15003_009MA', 'C15003_010E', 'C15003_010EA', 'C15003_010M', 'C15003_010MA', 'C15003_011E', 'C15003_011EA', 'C15003_011M', 'C15003_011MA', 'C15003_012E', 'C15003_012EA', 'C15003_012M', 'C15003_012MA', 'C15003_013E', 'C15003_013EA', 'C15003_013M', 'C15003_013MA', 'C15003_014E', 'C15003_014EA', 'C15003_014M', 'C15003_014MA', 'C15003_015E', 'C15003_015EA', 'C15003_015M', 'C15003_015MA', 'C15003_016E', 'C15003_016EA', 'C15003_016M', 'C15003_016MA', 'C15003_017E', 'C15003_017EA', 'C15003_017M', 'C15003_017MA', 'C15003_018E', 'C15003_018EA', 'C15003_018M', 'C15003_018MA', 'B28010_001E', 'B28010_001EA', 'B28010_001M', 'B28010_001MA', 'B28010_002E', 'B28010_002EA', 'B28010_002M', 'B28010_002MA', 'B28010_003E', 'B28010_003EA', 'B28010_003M', 'B28010_003MA', 'B28010_004E', 'B28010_004EA', 'B28010_004M', 'B28010_004MA', 'B28010_005E', 'B28010_005EA', 'B28010_005M', 'B28010_005MA', 'B28010_006E', 'B28010_006EA', 'B28010_006M', 'B28010_006MA', 'B28010_007E', 'B28010_007EA', 'B28010_007M', 'B28010_007MA', 'B28003_001E', 'B28003_001EA', 'B28003_001M', 'B28003_001MA', 'B28003_002E', 'B28003_002EA', 'B28003_002M', 'B28003_002MA', 'B28003_003E', 'B28003_003EA', 'B28003_003M', 'B28003_003MA', 'B28003_004E', 'B28003_004EA', 'B28003_004M', 'B28003_004MA', 'B28003_005E', 'B28003_005EA', 'B28003_005M', 'B28003_005MA', 'B28003_006E', 'B28003_006EA', 'B28003_006M', 'B28003_006MA', 'B28006_001E', 'B28006_001EA', 'B28006_001M', 'B28006_001MA', 'B28006_002E', 'B28006_002EA', 'B28006_002M', 'B28006_002MA', 'B28006_003E', 'B28006_003EA', 'B28006_003M', 'B28006_003MA', 'B28006_004E', 'B28006_004EA', 'B28006_004M', 'B28006_004MA', 'B28006_005E', 'B28006_005EA', 'B28006_005M', 'B28006_005MA', 'B28006_006E', 'B28006_006EA', 'B28006_006M', 'B28006_006MA', 'B28006_007E', 'B28006_007EA', 'B28006_007M', 'B28006_007MA', 'B28006_008E', 'B28006_008EA', 'B28006_008M', 'B28006_008MA', 'B28006_009E', 'B28006_009EA', 'B28006_009M', 'B28006_009MA', 'B28006_010E', 'B28006_010EA', 'B28006_010M', 'B28006_010MA', 'B28006_011E', 'B28006_011EA', 'B28006_011M', 'B28006_011MA', 'B28006_012E', 'B28006_012EA', 'B28006_012M', 'B28006_012MA', 'B28006_013E', 'B28006_013EA', 'B28006_013M', 'B28006_013MA', 'B28006_014E', 'B28006_014EA', 'B28006_014M', 'B28006_014MA', 'B28006_015E', 'B28006_015EA', 'B28006_015M', 'B28006_015MA', 'B28006_016E', 'B28006_016EA', 'B28006_016M', 'B28006_016MA', 'B28006_017E', 'B28006_017EA', 'B28006_017M', 'B28006_017MA', 'B28006_018E', 'B28006_018EA', 'B28006_018M', 'B28006_018MA', 'B28006_019E', 'B28006_019EA', 'B28006_019M', 'B28006_019MA', 'B23025_001E', 'B23025_001EA', 'B23025_001M', 'B23025_001MA', 'B23025_002E', 'B23025_002EA', 'B23025_002M', 'B23025_002MA', 'B23025_003E', 'B23025_003EA', 'B23025_003M', 'B23025_003MA', 'B23025_004E', 'B23025_004EA', 'B23025_004M', 'B23025_004MA', 'B23025_005E', 'B23025_005EA', 'B23025_005M', 'B23025_005MA', 'B23025_006E', 'B23025_006EA', 'B23025_006M', 'B23025_006MA', 'B23025_007E', 'B23025_007EA', 'B23025_007M', 'B23025_007MA', 'B27011_001E', 'B27011_001EA', 'B27011_001M', 'B27011_001MA', 'B27011_002E', 'B27011_002EA', 'B27011_002M', 'B27011_002MA', 'B27011_003E', 'B27011_003EA', 'B27011_003M', 'B27011_003MA', 'B27011_004E', 'B27011_004EA', 'B27011_004M', 'B27011_004MA', 'B27011_005E', 'B27011_005EA', 'B27011_005M', 'B27011_005MA', 'B27011_006E', 'B27011_006EA', 'B27011_006M', 'B27011_006MA', 'B27011_007E', 'B27011_007EA', 'B27011_007M', 'B27011_007MA', 'B27011_008E', 'B27011_008EA', 'B27011_008M', 'B27011_008MA', 'B27011_009E', 'B27011_009EA', 'B27011_009M', 'B27011_009MA', 'B27011_010E', 'B27011_010EA', 'B27011_010M', 'B27011_010MA', 'B27011_011E', 'B27011_011EA', 'B27011_011M', 'B27011_011MA', 'B27011_012E', 'B27011_012EA', 'B27011_012M', 'B27011_012MA', 'B27011_013E', 'B27011_013EA', 'B27011_013M', 'B27011_013MA', 'B27011_014E', 'B27011_014EA', 'B27011_014M', 'B27011_014MA', 'B27011_015E', 'B27011_015EA', 'B27011_015M', 'B27011_015MA', 'B27011_016E', 'B27011_016EA', 'B27011_016M', 'B27011_016MA', 'B27011_017E', 'B27011_017EA', 'B27011_017M', 'B27011_017MA'])