In [1]:
%config Completer.use_jedi = False

In [2]:
from census.getCensus import getCensus
import pandas as pd

In [3]:
c = getCensus(2019, shouldCacheOnDisk=True, shouldLoadFromExistingCache=True)

In [4]:
groups = c.getGroups()

In [5]:
c.groupNamesToCodes.AgeOfHouseholderByMealsIncludedInRent

'B25055'

In [6]:
educGroups = c.searchGroups("education")

In [7]:
c.searchGroups("computer").head()

,code,description
0,B28001,TYPES OF COMPUTERS IN HOUSEHOLD
1,B28003,PRESENCE OF A COMPUTER AND TYPE OF INTERNET SUBSCRIPTION IN HOUSEHOLD
2,B28005,AGE BY PRESENCE OF A COMPUTER AND TYPES OF INTERNET SUBSCRIPTION IN HOUSEHOLD
3,B28006,EDUCATIONAL ATTAINMENT BY PRESENCE OF A COMPUTER AND TYPES OF INTERNET SUBSCRIPTION IN HOUSEHOLD
4,B28007,LABOR FORCE STATUS BY PRESENCE OF A COMPUTER AND TYPES OF INTERNET SUBSCRIPTION IN HOUSEHOLD

In [8]:
from census.variables.models import GroupCode

In [9]:
variables = c.getVariablesByGroup([
    'C15003',
    'B28010',
    'B28003',
    'B28006',
    'B23025',
    'B27011',
])

  0%|          | 0/6 [00:00<?, ?it/s]

In [10]:
filteredVars = variables[variables['name'].str.contains('^estimate!!', case=False)]

In [11]:
varCodes = filteredVars['code'].tolist()

In [12]:
from census.models import GeoDomain

In [13]:
from census.utils.chunk import chunk
import pandas as pd

In [14]:
len(filteredVars)

74

In [15]:
df = filteredVars[filteredVars['groupCode'] == 'C15003']

In [16]:
df

,code,groupCode,groupConcept,name,predicateType,predicateOnly,limit
0,C15003_001E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:,int,True,0
4,C15003_002E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!No schooling completed,int,True,0
8,C15003_003E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!Nursery to 4th grade,int,True,0
12,C15003_004E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!5th and 6th grade,int,True,0
16,C15003_005E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!7th and 8th grade,int,True,0
20,C15003_006E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!9th grade,int,True,0
24,C15003_007E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!10th grade,int,True,0
28,C15003_008E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!11th grade,int,True,0
32,C15003_009E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,"Estimate!!Total:!!12th grade, no diploma",int,True,0
36,C15003_010E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!Regular high school diploma,int,True,0
40,C15003_011E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!GED or alternative credential,int,True,0
44,C15003_012E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,"Estimate!!Total:!!Some college, less than 1 year",int,True,0
48,C15003_013E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,"Estimate!!Total:!!Some college, 1 or more years, no degree",int,True,0
52,C15003_014E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!Associate's degree,int,True,0
56,C15003_015E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!Bachelor's degree,int,True,0
60,C15003_016E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!Master's degree,int,True,0
64,C15003_017E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!Professional school degree,int,True,0
68,C15003_018E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!Doctorate degree,int,True,0

In [17]:
educData = c.getStats(df['code'].tolist(), GeoDomain('congressional district'), [GeoDomain('state')], replaceColumnHeaders=True)

|          | 0/? [00:00<?, ?it/s]

In [18]:
educData.head(n=2)

,NAME,congressional district,state,Estimate_Total,Estimate_Total_NoSchoolingCompleted,Estimate_Total_NurseryTo4thGrade,Estimate_Total_5thAnd6thGrade,Estimate_Total_7thAnd8thGrade,Estimate_Total_9thGrade,Estimate_Total_10thGrade,...,Estimate_Total_12thGradeNoDiploma,Estimate_Total_RegularHighSchoolDiploma,Estimate_Total_GedOrAlternativeCredential,Estimate_Total_SomeCollegeLessThan1Year,Estimate_Total_SomeCollege1OrMoreYearsNoDegree,Estimate_Total_AssociatesDegree,Estimate_Total_BachelorsDegree,Estimate_Total_MastersDegree,Estimate_Total_ProfessionalSchoolDegree,Estimate_Total_DoctorateDegree
0,"Congressional District 3 (116th Congress), California",03,06,492041,9757,5077,12445,5491,5655,5461,...,11891,105373,13456,36042,86013,50948,83536,34271,9976,6172
1,"Congressional District 21 (116th Congress), California",21,06,424849,21911,21062,39352,15217,20351,12229,...,15204,98332,13409,23653,59324,24457,32602,8271,3547,889

In [19]:
educData.columns

Index(['NAME', 'congressional district', 'state', 'Estimate_Total',
       'Estimate_Total_NoSchoolingCompleted',
       'Estimate_Total_NurseryTo4thGrade', 'Estimate_Total_5thAnd6thGrade',
       'Estimate_Total_7thAnd8thGrade', 'Estimate_Total_9thGrade',
       'Estimate_Total_10thGrade', 'Estimate_Total_11thGrade',
       'Estimate_Total_12thGradeNoDiploma',
       'Estimate_Total_RegularHighSchoolDiploma',
       'Estimate_Total_GedOrAlternativeCredential',
       'Estimate_Total_SomeCollegeLessThan1Year',
       'Estimate_Total_SomeCollege1OrMoreYearsNoDegree',
       'Estimate_Total_AssociatesDegree', 'Estimate_Total_BachelorsDegree',
       'Estimate_Total_MastersDegree',
       'Estimate_Total_ProfessionalSchoolDegree',
       'Estimate_Total_DoctorateDegree'],
      dtype='object')

In [20]:
educPcts = educData.loc[:,['NAME', 'congressional district', 'state']]

In [21]:
educPcts['pctNoHs'] = (educData.Estimate_Total_NoSchoolingCompleted \
                    + educData.Estimate_Total_NurseryTo4thGrade \
                    + educData.Estimate_Total_5thAnd6thGrade \
                    + educData.Estimate_Total_7thAnd8thGrade \
                    + educData.Estimate_Total_9thGrade \
                    + educData.Estimate_Total_10thGrade \
                    + educData.Estimate_Total_11thGrade \
                    + educData.Estimate_Total_12thGradeNoDiploma) / educData.Estimate_Total
educPcts['pctHs'] = (educData.Estimate_Total_RegularHighSchoolDiploma \
                     + educData.Estimate_Total_GedOrAlternativeCredential) \
                        / educData.Estimate_Total
educPcts['pctBach'] = educData.Estimate_Total_BachelorsDegree / educData.Estimate_Total
educPcts['pctSomeCollege1YrNoDegree'] = educData.Estimate_Total_SomeCollegeLessThan1Year / educData.Estimate_Total
educPcts['pctSomeCollegeManyYrsNoDegree'] = educData.Estimate_Total_SomeCollege1OrMoreYearsNoDegree / educData.Estimate_Total
educPcts['pctGradPlus'] = (educData.Estimate_Total_DoctorateDegree + \
                          educData.Estimate_Total_MastersDegree ) / educData.Estimate_Total

In [22]:
c.searchGroups('employment')

,code,description
0,B10058,EMPLOYMENT STATUS OF GRANDPARENTS LIVING WITH OWN GRANDCHILDREN UNDER 18 YEARS BY RESPONSIBILITY FOR OWN GRANDCHILDREN AND AGE OF GRANDPARENT
1,B14005,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS
2,B16010,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER
3,B17005,POVERTY STATUS IN THE PAST 12 MONTHS OF INDIVIDUALS BY SEX BY EMPLOYMENT STATUS
4,B18120,EMPLOYMENT STATUS BY DISABILITY STATUS AND TYPE
5,B19053,SELF-EMPLOYMENT INCOME IN THE PAST 12 MONTHS FOR HOUSEHOLDS
6,B19063,AGGREGATE SELF-EMPLOYMENT INCOME IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) FOR HOUSEHOLDS
7,B21005,AGE BY VETERAN STATUS BY EMPLOYMENT STATUS FOR THE CIVILIAN POPULATION 18 TO 64 YEARS
8,B23001,SEX BY AGE BY EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER
9,B23002A,SEX BY AGE BY EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER (WHITE ALONE)
10,B23002B,SEX BY AGE BY EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER (BLACK OR AFRICAN AMERICAN ALONE)
11,B23002C,SEX BY AGE BY EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER (AMERICAN INDIAN AND ALASKA NATIVE ALONE)
12,B23002D,SEX BY AGE BY EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER (ASIAN ALONE)
13,B23002E,SEX BY AGE BY EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE)
14,B23002F,SEX BY AGE BY EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER (SOME OTHER RACE ALONE)
15,B23002G,SEX BY AGE BY EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER (TWO OR MORE RACES)
16,B23002H,"SEX BY AGE BY EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER (WHITE ALONE, NOT HISPANIC OR LATINO)"
17,B23002I,SEX BY AGE BY EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER (HISPANIC OR LATINO)
18,B23003,PRESENCE OF OWN CHILDREN UNDER 18 YEARS BY AGE OF OWN CHILDREN UNDER 18 YEARS BY EMPLOYMENT STATUS FOR FEMALES 20 TO 64 YEARS
19,B23006,EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 25 TO 64 YEARS
20,B23007,PRESENCE OF OWN CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY EMPLOYMENT STATUS
21,B23008,AGE OF OWN CHILDREN UNDER 18 YEARS IN FAMILIES AND SUBFAMILIES BY LIVING ARRANGEMENTS BY EMPLOYMENT STATUS OF PARENTS
22,B23024,POVERTY STATUS IN THE PAST 12 MONTHS BY DISABILITY STATUS BY EMPLOYMENT STATUS FOR THE POPULATION 20 TO 64 YEARS
23,B23025,EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER
24,B26114,GROUP QUARTERS TYPE (3 TYPES) BY EMPLOYMENT STATUS
25,B26214,GROUP QUARTERS TYPE (5 TYPES) BY EMPLOYMENT STATUS
26,B27011,HEALTH INSURANCE COVERAGE STATUS AND TYPE BY EMPLOYMENT STATUS
27,B99231,ALLOCATION OF EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER
28,C14005,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS
29,C16010,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER
30,C18120,EMPLOYMENT STATUS BY DISABILITY STATUS
31,C21005,VETERAN STATUS BY EMPLOYMENT STATUS FOR THE CIVILIAN POPULATION 18 TO 64 YEARS
32,C23001,SEX BY AGE BY EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER
33,C23002A,SEX BY AGE BY EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER (WHITE ALONE)
34,C23002B,SEX BY AGE BY EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER (BLACK OR AFRICAN AMERICAN ALONE)
35,C23002C,SEX BY AGE BY EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER (AMERICAN INDIAN AND ALASKA NATIVE ALONE)
36,C23002D,SEX BY AGE BY EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER (ASIAN ALONE)
37,C23002E,SEX BY AGE BY EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE)
38,C23002F,SEX BY AGE BY EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER (SOME OTHER RACE ALONE)
39,C23002G,SEX BY AGE BY EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER (TWO OR MORE RACES)
40,C23002H,"SEX BY AGE BY EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER (WHITE ALONE, NOT HISPANIC OR LATINO)"
41,C23002I,SEX BY AGE BY EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER (HISPANIC OR LATINO)
42,C23004,WORK STATUS IN THE PAST 12 MONTHS BY EMPLOYMENT STATUS FOR THE CIVILIAN POPULATION 65 YEARS AND OVER
43,C23007,PRESENCE OF OWN CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY EMPLOYMENT STATUS
44,C23008,AGE OF OWN CHILDREN UNDER 18 YEARS IN FAMILIES AND SUBFAMILIES BY LIVING ARRANGEMENTS BY EMPLOYMENT STATUS OF PARENTS

In [24]:
employmentVars = c.getVariablesByGroup([c.groupNamesToCodes.EmploymentStatusForThePopulation16YearsAndOver])

  0%|          | 0/1 [00:00<?, ?it/s]

In [25]:
employmentByEducVars = c.getVariablesByGroup([c.groupNamesToCodes.EducationalAttainmentByEmploymentStatusForThePopulation25To64Years])

  0%|          | 0/1 [00:00<?, ?it/s]

In [26]:
healthInsuranceByEmploymentVars = c.getVariablesByGroup([c.groupNamesToCodes.HealthInsuranceCoverageStatusAndTypeByEmploymentStatus])

  0%|          | 0/1 [00:00<?, ?it/s]